@tailwind base;

@font-face {
  font-family: Rubik;
  font-weight: 300;
  src: url(fonts/Rubik/Rubik-Light.ttf) format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  src: url(fonts/Rubik/Rubik-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url(fonts/Rubik/Rubik-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  src: url(fonts/Rubik/Rubik-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Condensed";
  font-weight: 400;
  src: url(fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "Barlow Condensed";
  font-weight: 700;
  src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf) format("truetype");
}

@tailwind components;

@tailwind utilities;

.container-small {
  max-width: 1056px;
  @apply px-6;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    62.8deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.78) 99.49%
  );
  opacity: 0.5;
  z-index: 1;
}

.checkmark-list {
  list-style-image: url("/assets/icons/checkmark.svg");
  @apply pl-8;
}

.checkmark-list li {
  @apply mb-4;
  @apply pt-1;
}

.checkmark-list li p {
  @apply ml-5;
  @apply align-text-bottom;
  @apply inline-block;
  @apply align-top;
  @apply -mt-1;
}

.quote {
  line-height: 2;
}

.quote::before,
.quote::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("/assets/icons/quote.svg");
}

.quote::before {
  position: relative;
  top: 16px;
  margin-left: -8px;
}

.quote::after {
  vertical-align: top;
  margin-top: -4px;
}

/* the slides */
.slick-slide {
  margin: 0 20px;
}

/* the parent */
.slick-list {
  margin: 0 -20px !important;
}

.embed-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 24px 0;
}
.embed-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky ~ main {
  padding-top: 49px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.highlight {
  @apply bg-yellow;
  @apply font-bold;
  @apply inline-block;
}

@responsive {
  .columns-2 {
    columns: 2;
  }

  .columns-1 {
    columns: 1;
  }

  .block-i {
    display: block !important;
  }
}

.header {
  @apply bg-st;
  @apply fixed;
  @apply w-full;
  @apply z-50;
  height: 56px;
}

.nav-toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 24px;
  top: 4px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s linear;
}

.nav-toggle:hover,
.nav-toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-menu {
  @apply text-xs;
  @apply font-bold;
  @apply capitalize;
  @apply flex;
}

@media (max-width: 640px) {
  .nav-menu {
    height: 100vh;
    position: relative;
    z-index: 5;
    visibility: hidden;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
  }

  .nav-item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
    margin-right: 0;
  }
  
  .nav-item:nth-child(1) {
    transform: translateY(-40px);
  }
  
  .nav-item:nth-child(2) {
    transform: translateY(-80px);
  }
  
  .nav-item:nth-child(3) {
    transform: translateY(-120px);
  }
  
  .nav-item:nth-child(4) {
    transform: translateY(-160px);
  }
  
  .nav-item:nth-child(5) {
    transform: translateY(-200px);
  }
  
  .nav-link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;

  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon-bar,
.menuicon-circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon-bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-in-out;
}

.menuicon-circle {
  transition: stroke-dashoffset 0.3s linear 0.1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}

@media(max-width: 640px) {
  .splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
  }
  
  .splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #000000;
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;
  
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    will-change: transform;
  }
}

.nav:target,
.nav-open > .splash::after {
  transform: scale(1);
}

.nav:target,
.nav-open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav:target,
.nav-open .menuicon-circle {
  stroke-dashoffset: 0;
}
.nav:target,
.nav-open .menuicon-bar:nth-child(1),
.nav:target,
.nav-open .menuicon-bar:nth-child(4) {
  opacity: 0;
}
.nav:target,
.nav-open .menuicon-bar:nth-child(2) {
  transform: rotate(45deg);
}
.nav:target,
.nav-open .menuicon-bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav:target,
.nav-open .nav-menu {
  visibility: visible;
}

.nav:target,
.nav-open .nav-item {
  opacity: 1;
  transform: translateY(0);
}
