<!-- Start section banner -->
<section
  id="banner"
  class="relative banner overflow-hidden py-24 border-b border-gray mb-10"
>
  <div class="overlay"></div>
  <video
    class="absolute top-1/2 left-1/2 w-auto h-auto min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2 z-0"
    autoplay
    muted
    loop
  >
    <source src="/assets/videos/sevan.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="container relative z-2">
    <div class="flex justify-between items-start">
      <div class="divide-y">
        <div class="mb-6">
          <h3 class="capitalize font-Barlow">
            the world’s leading and <br />fastest-growing software technology
          </h3>
          <h4 class="uppercase font-bold font-Barlow">
            platform for the trades
          </h4>
        </div>
        <div>
          <ul class="flex mb-4 mt-4">
            <li class="mr-6">
              <h5 class="font-bold">4,000+</h5>
              <p class="font-light">Customers</p>
            </li>
            <li class="mr-6">
              <h5 class="font-bold">100,000+</h5>
              <p class="font-light">Tradespeople</p>
            </li>
            <li>
              <h5 class="font-bold">1000+</h5>
              <p class="font-light">Employees</p>
            </li>
          </ul>
          <ul class="flex text-xs">
            <li class="mr-5">
              <img
                class="inline-block align-text-top mr-1"
                src="/assets/icons/location.svg"
                alt="Location"
              />
              Glendale
            </li>
            <li class="mr-5">
              <img
                class="inline-block align-text-top mr-1"
                src="/assets/icons/location.svg"
                alt="Location"
              />
              Atlanta
            </li>
            <li>
              <img
                class="inline-block align-text-top mr-1"
                src="/assets/icons/location.svg"
                alt="Location"
              />
              Yerevan
            </li>
          </ul>
        </div>
      </div>
      <div class="self-end mt-100">
        <h5 class="capitalize text-right">Advance your career</h5>
        <h3 class="capitalize text-right font-bold">
          World-class team <br />Impactful Product <br />Exciting Challenges
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End section banner -->
