{% if include.prev and include.next %}
<!-- Start block bottom navigation -->
<div class="bottom-nav">
  <div class="container">
    <nav>
      <a class="back" href="{{ include.prev.page }}"><img src="/assets/icons/arrow_back.svg" alt="Back" />{{
        include.prev.name }}</a>
      <a class="forward" href="{{ include.next.page }}">{{ include.next.name }}<img
          src="/assets/icons/arrow_forward.svg" alt="Forward" /></a>
    </nav>
  </div>
</div>
<!-- End block bottom navigation -->
{% endif %}