<!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer> -->

<!-- Start block footer -->
<footer class="bg-st py-6 text-white">
  <div class="container">
    <div class="flex items-center justify-between">
      <ul class="text-xxs flex flex-wrap">
        <li class="mb-2 mr-4">
          <img
            class="inline-block mr-2 align-middle"
            src="/assets/icons/mail.svg"
            alt="Mail"
          />
          armenia@servicetitan.com
        </li>
        <li class="mb-2">
          <img
            class="inline-block mr-2 align-middle"
            src="/assets/icons/phone.svg"
            alt="Phone"
          />
          099 09 40 95
        </li>
        <li class="w-full">
          <img
            class="inline-block mr-2 align-middle"
            src="/assets/icons/pin.svg"
            alt="Pin"
          />
          2/2 Melik Adamyan Street, 3rd floor, Yerevan, Armenia
        </li>
      </ul>
      <div class="flex items-center justify-end">
        <ul class="flex mt-8">
          <li class="mr-5">
            <a class="block" href="">
              <img src="/assets/icons/youtube.svg" alt="Youtube" />
            </a>
          </li>
          <li class="mr-5">
            <a class="block" href="">
              <img src="/assets/icons/facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li class="mr-5">
            <a class="block" href="">
              <img src="/assets/icons/instagram.svg" alt="Instagram" />
            </a>
          </li>
          <li class="mr-5">
            <a class="block" href="">
              <img src="/assets/icons/linkedin.svg" alt="LinkedIn" />
            </a>
          </li>
        </ul>
        <div class="flex-shrink-0 ml-5">
          <div>
            <label class="block mb-2" for="subsciption_email"
              >Get our weekly newsletter
            </label>
          </div>
          <div class="flex items-center">
            <input
              id="subsciption_email"
              class="py-3 px-4 rounded text-sm text-primary appearance-none focus:outline-none"
              type="email"
              placeholder="Enter Email Address"
            />
            <button
              class="ml-2 bg-lightBlue hover:bg-blue text-white text-sm py-3 px-4 rounded focus:outline-none"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="text-center font-bold text-white text-xs opacity-50">
    Copyright &copy; <span id="year"></span>
  </p> -->
</footer>
<!-- End block footer -->
