<!-- Start section testimonials -->
<div class="legend">
  <h6>{{ include.legend }}</h6>
</div>
{% if include.testimonials.size > 0 %}
<section class="mt-12 mb-40">
  {% for testimonial in include.testimonials %}
  <div class="flex mb-12">
    <div class="w-70 flex-shrink-0 mr-16">
      <div class="flex items-center mt-6">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3"
          style="background-image: url({{testimonial.img}});">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">{{ testimonial.name }}</h6>
          <p class="capitalize text-xs">{{ testimonial.position }}</p>
        </div>
      </div>
    </div>
    <div>
      <p class="quote">{{ testimonial.quote }}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
<!-- End section testimonials -->