---
layout: page
---

<section class="flex items-start">
    <aside class="sidebar">
        <nav>
            <ul>
                <li>
                    <a class="sidenav-link" href="#expand_1">
                        Expand the extraordinary campaign launch
                    </a>
                </li>
                <li>
                    <a class="sidenav-link" href="#expand_2">
                        The first Armenian-founded tech Unicorn
                    </a>
                </li>
                <li>
                    <a class="sidenav-link" href="#expand_3">
                        Zoom in on ServiceTitan
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overflow-hidden">{{ content }}</div>
</section>