---
layout: page
---

<div class="flex leading-normal">

    <div class="w-2/6 pr-8">
        <h5 class="font-light mb-6">Find a role on one of our inspiring teams!</h5>
        <ul id="departments_list">
            <!-- <li class="border-b">
                <a class="block py-4  opacity-50" href="#">Customer Onboarding 1</a>
            </li>
            <li class="border-b">
                <a class="block py-4 opacity-50" href="#">Customer Onboarding 1</a>
            </li>
            <li class="border-b">
                <a class="block py-4 opacity-50" href="#">Customer Onboarding 1</a>
            </li> -->
        </ul>
    </div>

    <div class="w-4/6 pl-8 ">
        <ul id="jobs_list">
            <!-- <li class="mb-4">
                <a class="block rounded-md border px-10 py-8 border-lightGray hover:border-gray" href="#">
                    <div>
                        <h6 class="font-bold mb-2">Group Product Manager, API</h6>
                        <p class="text-sm">
                            <img class="inline-block align-text-top mr-1" src="/assets/icons/location.svg"
                                alt="Location" />
                            Yerevan, Armenia
                        </p>
                    </div>
                </a>
            </li>
            <li class="mb-4">
                <a class="block rounded-md border px-10 py-8 border-lightGray hover:border-gray" href="#">
                    <div>
                        <h6 class="font-bold mb-2">Group Product Manager, API</h6>
                        <p class="text-sm">
                            <img class="inline-block align-text-top mr-1" src="/assets/icons/location.svg"
                                alt="Location" />
                            Yerevan, Armenia
                        </p>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
</div>