---
layout: default
---

{%- include header.html -%}

<!-- Start main section -->
<main aria-label="Content">
  <div class="container">
    <div class="mt-10 heading page-heading">
      {%- if page.title -%}
      <h2>{{ page.title }}</h2>
      {%- endif -%} {%- if page.subtitle -%}
      <h5>{{ page.subtitle}}</h5>
      {%- endif -%}
    </div>
    <section class="mt-10 leading-loose">
      {{ content }}
    </section>

    {%- if page.prev or page.next -%} {%- include bottom_navigation.html
    prev=page.prev next=page.next -%} {%- endif -%}
  </div>
</main>
<!-- End main section -->

{%- include footer.html -%} {%- include footer_scripts.html -%}
