---
layout: page
---

<section class="flex items-start mt-10">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a class="sidenav-link" data-id="#engineering" href="#engineering">Engineering</a></li>
                <li><a class="sidenav-link" data-id="#productUX" href="#productUX">Product & UX</a></li>
                <li><a class="sidenav-link" data-id="#supportCS" href="#supportCS">Support & <br> Customer Success</a></li>
            </ul>
        </nav>
    </aside>
    <div class="leading-loose">
        {{ content }}
    </div>

</section>
