---
layout: default
---

<div class="heading page-heading">
    <h2>THE TEAM</h2>
    <h5>Ride a rocket to unlimited<br> career success</h5>
</div>

<section class="flex items-start mt-10">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a class="sidenav-link" href="#engineering">Engineering</a></li>
                <li><a class="sidenav-link" href="#engineering">produc & UX</a></li>
                <li><a class="sidenav-link" href="#engineering">Support & <br> Customer Success</a></li>
            </ul>
        </nav>
    </aside>
    <div>
        <p>
            At ServiceTitan Armenia we are driven by a common set of values that compel us to give our work all we've
            got; to change lives, to be a great team, and to achieve the extraordinary. ServiceTitan’s impressive growth
            is a reflection of the meaningful difference the product is making on the ground. Behind the company’s
            success is our talented team of unique individuals who all bring something fresh to the table.
        </p>
        <p>We strive to make sure that everyone’s backgrounds, skillsets, and experiences are acknowledged and career
            growth opportunities are provided. We value the importance for our team members to work with world-class
            talent, design new products and features, have abundant career growth opportunities, and be a part of a
            diverse, inclusive, and dynamic working culture.
        </p>

        <!-- slider -->

        <p>
            We have been incredibly fortunate to have built an all-around rock star team of over 1000 Titans across the
            globe. Our team members come from some of the best companies like Google, LinkedIn, SpaceX, Netflix, Amazon,
            Microsoft, Riot Games etc. We encourage our team to perform at their best and give them room to make a
            considerable impact every day by providing a premier experience to our customers.
        </p>

        <div class="legend">
            <div class="legend">
                <h6 id="engineering">Enginnering</h6>
            </div>
        </div>
        <p>
            At our Yerevan office, we are 60+ Titans working in an agile, flat management style environment to build
            software that thousands of contractors, clients, and partners are using on a daily basis. We build for
            product excellence, focus on smart solutions through innovation and technology, have an amazing
            growth-oriented culture, and love to solve complex problems.
        </p>
        <p>
            We use the most modern tools on Microsoft .NET platform and implement InnerSource software development
            strategy which enables software developers to contribute to the efforts of other teams, fostering
            transparency and openness to contributions from others.
        </p>

    </div>

</section>