---
layout: page
---

<div>{{ content }}</div>

<div class="legend legend-center my-10">
  <h6>Senior engineers, join us and</h6>
</div>

<div class="flex justify-between items-stretch">
  <div class="flex flex-col justify-between w-1/3 relative">
    <div class="mb-10">
      <img
        class="max-h-full mx-auto"
        src="/assets/icons/people.svg"
        alt="People"
      />
    </div>
    <p class="text-center text-sm">Be a part of a great community</p>
    <div class="absolute bg-gray h-12 w-1px right-0 bottom-0"></div>
  </div>

  <div class="flex flex-col justify-between w-1/3 relative">
    <div class="mb-10">
      <img
        class="max-h-full mx-auto"
        src="/assets/icons/laptop.svg"
        alt="Laptop"
      />
    </div>
    <p class="text-center text-sm">Have a considerable impact</p>
    <div class="absolute bg-gray h-12 w-1px right-0 bottom-0"></div>
  </div>

  <div class="flex flex-col justify-between w-1/3">
    <div class="mb-10">
      <img
        class="max-h-full mx-auto"
        src="/assets/icons/dashboard.svg"
        alt="dashboard"
      />
    </div>
    <p class="text-center text-sm">
      Enhance your skills and <br />share the best practices
    </p>
  </div>
</div>

<div class="legend legend-center mt-12">
  <a
    target="_blank"
    href="https://docs.google.com/forms/d/1UPdqKinUdh9wRJXxoLJuFVFxkGJ_fPoIOA96jVmXskg/edit?ts=5f3fcc42"
    class="text-sm text-lightBlue hover:border-blue hover:text-blue py-2 px-4 border border-lightBlue rounded-md"
  >
    Apply
  </a>
</div>
