---
layout: page
---

<div>{{ content }}</div>

<div class="flex mt-10 leading-normal">

  <div class="w-1/2 pr-6">

    {%- assign agenda = site.data.titan-camp.agenda -%}

    {% if agenda.size > 0 %}
    <div class="legend">
      <h6>Course content</h6>
    </div>

    {% for part in agenda %}
    <!-- <h6 class="capitalize text-sm font-bold mt-6 mb-4">
      <img class="inline-block mr-4" src="/assets/icons/clock.svg" alt="Time">
      {{part.part_name}}
    </h6> -->
    {% if part.chapters.size > 0 %}
    <ul class="checkmark-list">
      {% for chapter in part.chapters %}
      <li class="mb-2 leading-normal">
        <p>{{chapter}}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}

    {% endif %}

    <div class="border-t mt-8 pt-4">
      <a href="{{site.data.titan-camp.agenda_pdf_link}}" download="agenda" class="flex">
        <img src="/assets/icons/file.svg" alt="file">
        Full agenda
      </a>
    </div>

  </div>
  <div class="w-1/2 pl-6">

    <div class="legend mb-6">
      <h6>Project lead</h6>
    </div>

    <ul>
      <li class="flex mb-4">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3"
          style="background-image: url('/assets/photos/titan-camp/people/gev.jpg');">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">Gevorg Martirosyan</h6>
          <p class="capitalize text-xs mb-1">Engineering Manager</p>
          <a href="https://www.linkedin.com/in/gevorg-martirosyan-ph-d-m-b-a-a6674038/" target="_blank"><img src="/assets/icons/linkedin-small.svg" alt="LinkedIn"></a>
        </div>
      </li>
    </ul>

    <div class="legend mb-6">
      <h6>Product</h6>
    </div>

    <ul>
      <li class="flex mb-4">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3"
          style="background-image: url('/assets/photos/titan-camp/people/ashot.jpg');">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">Ashot Tonoyan</h6>
          <p class="capitalize text-xs mb-1">Managing director</p>
          <a href="https://www.linkedin.com/in/ashottonoyan/" target="_blank"><img src="/assets/icons/linkedin-small.svg" alt="LinkedIn"></a>
        </div>
      </li>
      <li class="flex mb-4">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3"
          style="background-image: url('/assets/photos/titan-camp/people/stepan.jpg');">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">Stepan Smbatyan</h6>
          <p class="capitalize text-xs mb-1">Product manager</p>
          <a href="https://www.linkedin.com/in/smbatyan/" target="_blank"><img src="/assets/icons/linkedin-small.svg" alt="LinkedIn"></a>
        </div>
      </li>
    </ul>
    
    {%- assign instructors = site.data.titan-camp.instructors -%}
    {% if instructors.size > 0 %}
    <div class="legend mb-6">
      <h6>Instructors</h6>
    </div>

    <ul>
      {% for instructor in instructors %}
      <li class="flex mb-4">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3"
          style="background-image: url({{instructor.img}});">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">{{instructor.name}}</h6>
          <p class="capitalize text-xs mb-1">{{instructor.position}}</p>
          <a href="{{instructor.linkedin_url}}" target="_blank"><img src="/assets/icons/linkedin-small.svg" alt="LinkedIn"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {%- assign mentors = site.data.titan-camp.mentors -%}

    {% if mentors.size > 0 %}
    <div class="legend mt-8 mb-6">
      <h6>Mentors</h6>
    </div>

    <ul>
      {% for mentor in mentors %}
      <li class="flex mb-4">
        <div class="flex-shrink-0 bg-cover w-18 h-18 rounded-full mr-3" style="background-image: url({{mentor.img}});">
          &nbsp;
        </div>
        <div>
          <h6 class="capitalize text-sm font-bold">{{mentor.name}}</h6>
          <p class="capitalize text-xs mb-1">{{mentor.position}}</p>
          <a href="{{mentor.linkedin_url}}" target="_blank"><img src="/assets/icons/linkedin-small.svg" alt="LinkedIn"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>

<div class="legend legend-center mt-12">
  <h6>Join us</h6>
</div>

<div class="flex justify-between items-stretch mt-20">
  <div class="flex flex-col justify-between w-1/3 relative">
    <div class="mb-10">
      <img class="max-h-full mx-auto" src="/assets/icons/people.svg" alt="People" />
    </div>
    <p class="text-center text-sm">Be a part of a great community</p>
    <div class="absolute bg-gray h-12 w-px right-0 bottom-0"></div>
  </div>

  <div class="flex flex-col justify-between w-1/3 relative">
    <div class="mb-10">
      <img class="max-h-full mx-auto" src="/assets/icons/laptop.svg" alt="Laptop" />
    </div>
    <p class="text-center text-sm">Have a considerable impact</p>
    <div class="absolute bg-gray h-12 w-px right-0 bottom-0"></div>
  </div>

  <div class="flex flex-col justify-between w-1/3">
    <div class="mb-10">
      <img class="max-h-full mx-auto" src="/assets/icons/dashboard.svg" alt="dashboard" />
    </div>
    <p class="text-center text-sm">
      Enhance your skills and <br />share the best practices
    </p>
  </div>
</div>

<div class="legend legend-center mt-12">
  <a target="_blank"
    href="https://docs.google.com/forms/d/1UPdqKinUdh9wRJXxoLJuFVFxkGJ_fPoIOA96jVmXskg/edit?ts=5f3fcc42"
    class="text-sm text-lightBlue hover:border-blue hover:text-blue py-2 px-4 border border-lightBlue rounded-md">
    Apply
  </a>
</div>